body {
  font-family: 'Monserrat', sans-serif;
}

.navbar {
  color: #e3f2fd;

}
.nav-item {
  font-family: 'Ubuntu', sans-serif;
}

.login-input-field {
  margin-bottom: 5%;
}


#login {
  margin-top: 5%;
}

.login-body{
  background-color:#F1EEE9;
}




.footer {
  margin-top: 50%;

}
